@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */
:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grey-red: hsl(0, 6%, 24%);
}

* {
    margin:0;
    padding: 0;
}

.coming-soon-header h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
}

.coming-soon-header .header1 {
    color: var(--desaturated-red);
    font-weight: 300; 
}

.coming-soon-header .header2 {
    font-weight: 600;
}

.coming-soon-details {
    font-size: 16px;
    font-weight: 400;
    color: var(--desaturated-red);
}


body {
    font-family: 'Josefin Sans', sans-serif;
}
@media only screen and (min-width: 768px){
    .hero-img-mobile {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .hero-img-desktop {
        display: none;
    }

    .hero-img-mobile img {
        object-fit: cover;
        width: 100vw;
    }

    .logo img {
        width: 100px;
    }
}